* { margin:0; padding:0; border:0; }
body {
    background-color:#202020;
    color: #ccc;
    margin: 0px;
    overflow: hidden;
    font-family: monospace;
}
#info{
	pointer-events:none;
	position:absolute;
	bottom:30px;
	left:5px;
	height:40px;
	width:100%;
    text-align:center;
}
#list{
	position:absolute;
	top:10px;
	left:10px;
	height:190px;
	width:140px;
    text-align:center;
    display: block;
    overflow:hidden;
    overflow-x: hidden;
    overflow-y: auto;
    overflow : -moz-scrollbars-vertical;
}
img{
    position:absolute;
	top:-20px;
	left:calc(50% - 190px);
}
#c{
	position:absolute;
	top:180px;
	left:32px;
}
#spectrogram{
    position:absolute;
    top:180px;
    left:32px;
}
.eq {
  position:absolute;
  top:180px;
  left:150px;
}
#volume{
    border-radius: 100px;
    box-shadow: inset 5px 10px 20px 10px rgba(255,255,255,0.6), inset 0 0 0 10px rgba(88,88,88, 0.5);
    position:absolute;
	top:10px;
	left:180px;
    width:130px;
    height:130px;
    background-color:#802020;
    display:block;
}
#volumeInner{
    border-radius:10px;
    box-shadow: inset 0 0 2px 5px rgba(79,79,79,0.6), inset 0 0 0 5px rgba(88,88,88, 0.5);
    position:absolute;
    left:55px;
    top:20px;
    width:20px;
    height:20px;
    background-color:#802020;
    display:block;
}

::-webkit-scrollbar {
    width:20px;
    height:20px;
}
::-webkit-scrollbar-track-piece { 
  background: rgba(79,79,79,0);
  margin: 0px;
}
::-webkit-scrollbar-track {
     background: rgba(46,47,48,0);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgb(79,79,79), inset 0 0 0 16px rgb(88,88,89);
}
::-webkit-scrollbar-thumb:hover {           /* Barre */
  -webkit-box-shadow: inset 0 0 0 1px rgb(108,108,109), inset 0 0 0 16px rgb(110,110,111);
}
::-webkit-scrollbar-thumb:window-inactive {
  -webkit-box-shadow: inset 0 0 0 1px rgb(10,10,10), inset 0 0 0 16px rgb(58,58,59);
}